@{
    // Устанавливаем заголовок страницы
    ViewData["Title"] = "Home Page";
}

<h1>Добро пожаловать на мой сайт!</h1> <!-- Заголовок страницы -->

<p>Текущая дата и время: @ViewData["CurrentTime"]</p> <!-- Вывод текущей даты и времени, значение получается из ViewData["CurrentTime"] -->

<p>@ViewData["Greeting"]</p> <!-- Вывод приветствия, значение получается из ViewData["Greeting"] -->
