
@{
    // Устанавливаем заголовок страницы
    ViewData["Title"] = "MyView";
}

<!DOCTYPE html>
<html>
    <head>
    <title>Привет!</title><!-- Заголовок страницы -->
    <meta charset="utf-8" /> <!-- Устанавливаем кодировку UTF-8 -->
    </head>
    <body>
    <h2>@Model, это мое представление :)</h2> <!-- Выводим значение Model в заголовке -->
    </body>
</html>

